@font-face {
  font-family: scarlett mackenzie free;
  font-style: italic;
  font-weight: 400;
  src: local("Scarlett Mackenzie Free"),
    url(ScarlettMackenzieFreeRegular-K758D.woff) format("woff");
}
